<h2>What do you want to sell?</h2>

<form action="/search" method="get">
  <label for="search">Search for your item</label>
  <input id="search" name="search" type="text" placeholder="e.g. Ralph Lauren polo">

  <input type="submit">

</form>
